## Task 1: Loading the data and providing the basic summary

### Importing Required Libraries

In [26]:
import pandas as pd
import time

import seaborn as sns
import matplotlib.pyplot as plt

### Loading the dataset from json to DataFrame

In [2]:
df = pd.read_json("transactions.txt", lines=True)
print("Time required to parse data :",time.process_time())

Time required to parse data : 28.265625

### Taking a look at first 5 rows

In [3]:
df.head()

,accountNumber,accountOpenDate,acqCountry,availableMoney,cardCVV,cardLast4Digits,cardPresent,creditLimit,currentBalance,currentExpDate,...,merchantName,merchantState,merchantZip,posConditionCode,posEntryMode,posOnPremises,recurringAuthInd,transactionAmount,transactionDateTime,transactionType
0,737265056,2015-03-14,US,5000.0,414,1803,False,5000,0.0,06/2023,...,Uber,,,01,02,,,98.55,2016-08-13T14:27:32,PURCHASE
1,737265056,2015-03-14,US,5000.0,486,767,True,5000,0.0,02/2024,...,AMC #191138,,,01,09,,,74.51,2016-10-11T05:05:54,PURCHASE
2,737265056,2015-03-14,US,5000.0,486,767,False,5000,0.0,08/2025,...,Play Store,,,01,09,,,7.47,2016-11-08T09:18:39,PURCHASE
3,737265056,2015-03-14,US,5000.0,486,767,False,5000,0.0,08/2025,...,Play Store,,,01,09,,,7.47,2016-12-10T02:14:50,PURCHASE
4,830329091,2015-08-06,US,5000.0,885,3143,True,5000,0.0,10/2029,...,Tim Hortons #947751,,,01,02,,,71.18,2016-03-24T21:04:46,PURCHASE

### Taking a look at last 5 rows

In [4]:
df.tail()

,accountNumber,accountOpenDate,acqCountry,availableMoney,cardCVV,cardLast4Digits,cardPresent,creditLimit,currentBalance,currentExpDate,...,merchantName,merchantState,merchantZip,posConditionCode,posEntryMode,posOnPremises,recurringAuthInd,transactionAmount,transactionDateTime,transactionType
786358,732852505,2012-08-23,US,48904.96,936,3783,False,50000,1095.04,12/2022,...,Lyft,,,01,90,,,119.92,2016-12-22T18:44:12,PURCHASE
786359,732852505,2012-08-23,US,48785.04,939,3388,False,50000,1214.96,08/2023,...,hulu.com,,,01,09,,,18.89,2016-12-25T16:20:34,PURCHASE
786360,732852505,2012-08-23,US,48766.15,936,3783,False,50000,1233.85,08/2025,...,Lyft,,,01,02,,,49.43,2016-12-27T15:46:24,PURCHASE
786361,732852505,2012-08-23,US,48716.72,939,3388,False,50000,1283.28,07/2022,...,walmart.com,,,99,09,,,49.89,2016-12-29T00:30:55,PURCHASE
786362,732852505,2012-08-23,US,48666.83,939,3388,False,50000,1333.17,05/2024,...,Uber,,,01,05,,,72.18,2016-12-30T20:10:29,PURCHASE

### Looking at Information on Dataset

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 786363 entries, 0 to 786362
Data columns (total 29 columns):
accountNumber               786363 non-null int64
accountOpenDate             786363 non-null object
acqCountry                  786363 non-null object
availableMoney              786363 non-null float64
cardCVV                     786363 non-null int64
cardLast4Digits             786363 non-null int64
cardPresent                 786363 non-null bool
creditLimit                 786363 non-null int64
currentBalance              786363 non-null float64
currentExpDate              786363 non-null object
customerId                  786363 non-null int64
dateOfLastAddressChange     786363 non-null object
echoBuffer                  786363 non-null object
enteredCVV                  786363 non-null int64
expirationDateKeyInMatch    786363 non-null bool
isFraud                     786363 non-null bool
merchantCategoryCode        786363 non-null object
merchantCity                786363 non-null object
merchantCountryCode         786363 non-null object
merchantName                786363 non-null object
merchantState               786363 non-null object
merchantZip                 786363 non-null object
posConditionCode            786363 non-null object
posEntryMode                786363 non-null object
posOnPremises               786363 non-null object
recurringAuthInd            786363 non-null object
transactionAmount           786363 non-null float64
transactionDateTime         786363 non-null object
transactionType             786363 non-null object
dtypes: bool(3), float64(3), int64(6), object(17)
memory usage: 158.2+ MB

## Basic Summary on Data

#### Number of entries

In [6]:
print("Number of entries in dataset :",len(df))

Number of entries in dataset : 786363

#### Number of columns

In [7]:
print("Number of columns in dataset :",len(df.columns))

Number of columns in dataset : 29

#### Number of datapoints

In [8]:
print("Number of datapoints in dataset :",df.count().sum())

Number of datapoints in dataset : 22804527

#### Number of null values

In [9]:
print("Number of null values in dataset :",df.isnull().sum())

Number of null values in dataset : accountNumber               0
accountOpenDate             0
acqCountry                  0
availableMoney              0
cardCVV                     0
cardLast4Digits             0
cardPresent                 0
creditLimit                 0
currentBalance              0
currentExpDate              0
customerId                  0
dateOfLastAddressChange     0
echoBuffer                  0
enteredCVV                  0
expirationDateKeyInMatch    0
isFraud                     0
merchantCategoryCode        0
merchantCity                0
merchantCountryCode         0
merchantName                0
merchantState               0
merchantZip                 0
posConditionCode            0
posEntryMode                0
posOnPremises               0
recurringAuthInd            0
transactionAmount           0
transactionDateTime         0
transactionType             0
dtype: int64

### Checking columns for min max value

In [14]:
df.min()

accountNumber                         100088067
accountOpenDate                      1989-08-22
acqCountry
availableMoney                         -1005.63
cardCVV                                     100
cardLast4Digits                               0
cardPresent                               False
creditLimit                                 250
currentBalance                                0
currentExpDate                          01/2020
customerId                            100088067
dateOfLastAddressChange              1989-08-22
echoBuffer
enteredCVV                                    0
expirationDateKeyInMatch                  False
isFraud                                   False
merchantCategoryCode                    airline
merchantCity
merchantCountryCode
merchantName                            1st BBQ
merchantState
merchantZip
posConditionCode
posEntryMode
posOnPremises
recurringAuthInd
transactionAmount                             0
transactionDateTime         2016-01-01T00:01:02
transactionType
dtype: object

In [13]:
df.max()

accountNumber                         999389635
accountOpenDate                      2015-12-31
acqCountry                                   US
availableMoney                            50000
cardCVV                                     998
cardLast4Digits                            9998
cardPresent                                True
creditLimit                               50000
currentBalance                          47498.8
currentExpDate                          12/2032
customerId                            999389635
dateOfLastAddressChange              2016-12-30
echoBuffer
enteredCVV                                  998
expirationDateKeyInMatch                   True
isFraud                                    True
merchantCategoryCode              subscriptions
merchantCity
merchantCountryCode                          US
merchantName                 williamssonoma.com
merchantState
merchantZip
posConditionCode                             99
posEntryMode                                 90
posOnPremises
recurringAuthInd
transactionAmount                       2011.54
transactionDateTime         2016-12-30T23:59:45
transactionType                        REVERSAL
dtype: object

#### Dropping empty columns

In [15]:
df.drop(['merchantCity','merchantState','merchantState','merchantZip','posOnPremises','recurringAuthInd'],axis=1,inplace=True)

In [16]:
df.head()

,accountNumber,accountOpenDate,acqCountry,availableMoney,cardCVV,cardLast4Digits,cardPresent,creditLimit,currentBalance,currentExpDate,...,expirationDateKeyInMatch,isFraud,merchantCategoryCode,merchantCountryCode,merchantName,posConditionCode,posEntryMode,transactionAmount,transactionDateTime,transactionType
0,737265056,2015-03-14,US,5000.0,414,1803,False,5000,0.0,06/2023,...,False,False,rideshare,US,Uber,01,02,98.55,2016-08-13T14:27:32,PURCHASE
1,737265056,2015-03-14,US,5000.0,486,767,True,5000,0.0,02/2024,...,False,False,entertainment,US,AMC #191138,01,09,74.51,2016-10-11T05:05:54,PURCHASE
2,737265056,2015-03-14,US,5000.0,486,767,False,5000,0.0,08/2025,...,False,False,mobileapps,US,Play Store,01,09,7.47,2016-11-08T09:18:39,PURCHASE
3,737265056,2015-03-14,US,5000.0,486,767,False,5000,0.0,08/2025,...,False,False,mobileapps,US,Play Store,01,09,7.47,2016-12-10T02:14:50,PURCHASE
4,830329091,2015-08-06,US,5000.0,885,3143,True,5000,0.0,10/2029,...,False,False,fastfood,US,Tim Hortons #947751,01,02,71.18,2016-03-24T21:04:46,PURCHASE

#### Checking the data for stastical analysis

In [36]:
# most useful for availableMoney,creditLimit,currentBalance,transactionAmount
df.describe()

,accountNumber,availableMoney,cardCVV,cardLast4Digits,creditLimit,currentBalance,customerId,enteredCVV,transactionAmount
count,7.863630e+05,786363.000000,786363.000000,786363.000000,786363.000000,786363.000000,7.863630e+05,786363.000000,786363.000000
mean,5.372326e+08,6250.725369,544.467338,4757.417799,10759.464459,4508.739089,5.372326e+08,544.183857,136.985791
std,2.554211e+08,8880.783989,261.524220,2996.583810,11636.174890,6457.442068,2.554211e+08,261.551254,147.725569
min,1.000881e+08,-1005.630000,100.000000,0.000000,250.000000,0.000000,1.000881e+08,0.000000,0.000000
25%,3.301333e+08,1077.420000,310.000000,2178.000000,5000.000000,689.910000,3.301333e+08,310.000000,33.650000
50%,5.074561e+08,3184.860000,535.000000,4733.000000,7500.000000,2451.760000,5.074561e+08,535.000000,87.900000
75%,7.676200e+08,7500.000000,785.000000,7338.000000,15000.000000,5291.095000,7.676200e+08,785.000000,191.480000
max,9.993896e+08,50000.000000,998.000000,9998.000000,50000.000000,47498.810000,9.993896e+08,998.000000,2011.540000